header{
#logo{
 display: flex;
margin: 0 auto;
width: 162px;
height: 162px;
aspect-ratio: 1/1;
}

#b1{
margin-left: auto; 
display: flex;
width: 120px;
padding: 9px 31px;
justify-content: center;
align-items: center;
gap: 14px;
border-radius: 34px; 
border-color: transparent;
background: #2391FF;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
}

body{

#p1{    
padding-bottom: 15px;
    display: flex;
justify-content: center;
align-items: center;
gap: 15px;
align-self: stretch;  
color: rgba(ffffff);
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal; 
}

#p2{
margin: auto;
display: flex;
width: 800px;
height: auto;
padding: 50px;
flex-direction: column;
align-items: center;
gap: 65px;
border-radius: 80px;
background: #FCFCFC;
box-shadow: 0 0 120px -6px rgba(0, 0, 0, 0.25);
    
#p3{
color: rgba(255, 28, 32, 0.80);
font-family: Inter;
font-size: 27px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
#form{


#f1{
color: rgba(0, 0, 0, 0.40);
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-color: transparent;
width: 750px;
padding:  25px 0px 25px 25px;
align-items: center;
border-radius: 35px;
background: #FFF;
box-shadow: 0 1px 40px 0 rgba(198, 198, 198, 0.10);





}
#f2{
color: rgba(0, 0, 0, 0.40);
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-color: transparent;
display: flex;
width: 750px;
padding:  25px 0px 25px 25px;
align-items: center;
border-radius: 35px;
background: #FFF;
box-shadow: 0 1px 40px 0 rgba(198, 198, 198, 0.10);
}

#f3{
margin: auto;
border-color: transparent;
display: flex;
width: 150px;
height: 50px;
padding: 9px 31px;
justify-content: center;
align-items: center;
gap: 14px;
aspect-ratio: 194/67;
border-radius: 80px;
background: #2391FF;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
}
#p4{
padding-bottom: 20px;
color: rgba(0, 0, 0, 0.40);
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: normal;
color: rgba(#BDBDBD);
font-family: Inter;
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}
}
}
footer{
    
background: linear-gradient(180deg, rgba(255, 255, 255, 0.60) 0%, #3397FC 100%);

#p5{
padding: auto;
padding-top: 40px;
display: flex;
width: 200px;
height: auto;
flex-direction: column;
justify-content: center;
aspect-ratio: 549/130;
text-shadow: 0 0 75px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
background: linear-gradient(180deg, rgba(250, 250, 250, 0.87) 0%, rgba(245, 245, 245, 0.87) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

#p6{
margin-left:auto;
margin-top: 10px;
padding-right: 50px ;
padding-bottom: 30px;
display: flex;
width: 274px;
height: 65px;
flex-direction: column;
justify-content: center;
aspect-ratio: 274/65;
text-align: right;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
background: linear-gradient(180deg, rgba(250, 250, 250, 0.87) 0%, rgba(233, 235, 238, 0.87) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

}
